<div class="row">
    <div class="col-sm-6">
        Product list
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-primary" (click)="add()">Add product</button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; index as i">
            <td>
                <p>{{ p.brand | uppercase}}</p>
                <p>{{ p.name }}</p>
                <p>{{ p.description }}</p>
            </td>
            <td>{{ p.price | currency: 'INR' }}</td>
            <td>{{ p.qty | number }}</td>
            <td>
                <a class="m-1" [routerLink]="['/product', p.id]"><i class="fa fa-edit"></i></a>
                <a class="m-1" (click)="delete(p)"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>